.untitled-design-3-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 521px;
    height: 759px;
    object-fit: cover;
  }
  .sign-screen-child {
    position: absolute;
    top: 852px;
    left: 0;
    border-radius: 0 0 79px 0;
    background-color: #410077;
    width: 393px;
    height: 633px;
  }
  .login {
    text-decoration: underline;
  }
  .already-have-an-container {
    position: absolute;
    top: 809px;
    left: -2px;
    font-size: var(--font-size-mini);
    text-align: center;
    display: flex;
    align-items: center;
    width: 396px;
    height: 30px;
    cursor: pointer;
  }
  .create {
    margin: 0;
  }
  .create-account-txt-container {
    line-break: anywhere;
    width: 100%;
  }
  .create-account {
    position: absolute;
    top: 120px;
    left: 26px;
    font-size: 30px;
    display: flex;
    align-items: center;
    width: 170px;
    height: 74px;
  }
  .elements-signal {
    position: relative;
    width: 19.97px;
    height: 12px;
  }
  .elements-connection {
    position: relative;
    width: 17px;
    height: 12.5px;
  }
  .border,
  .cap-icon {
    position: absolute;
    mix-blend-mode: normal;
  }
  .border {
    height: 100%;
    width: 91.47%;
    top: 0;
    right: 8.53%;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    opacity: 0.4;
  }
  .cap-icon {
    height: 30.77%;
    width: 4.87%;
    top: 34.62%;
    right: 0;
    bottom: 34.62%;
    left: 95.13%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.5;
  }
  .capacity {
    position: absolute;
    height: 69.23%;
    width: 62.2%;
    top: 15.38%;
    right: 30.48%;
    bottom: 15.38%;
    left: 7.32%;
    border-radius: var(--br-11xs);
    background-color: var(--color-white);
  }
  .elements-battery {
    position: relative;
    width: 27.33px;
    height: 13px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .indicators {
    position: absolute;
    top: 19px;
    right: 26.7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-6xs);
  }
  .mic-cam {
    position: absolute;
    top: 6px;
    left: 282px;
    width: 6px;
    height: 6px;
  }
  .time {
    position: relative;
    letter-spacing: -0.5px;
    line-height: 17px;
  }
  .elements-time {
    position: absolute;
    top: calc(50% - 6.5px);
    left: calc(50% - 150.5px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .status-bar-iphone-13-13-pr {
    position: absolute;
    top: 0;
    left: 1px;
    background-color: rgba(0, 0, 0, 0.02);
    width: 390px;
    height: 47px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-mid);
    font-family: var(--font-candal);
  }
  .sign-screen-inner,
  .sign-screen-item {
    background-color: var(--color-gray-100);
    height: 40px;
  }
  .sign-screen-item {
    position: absolute;
    top: 285px;
    left: 33px;
    border-radius: var(--br-mini);
    width: 327px;
  }
  .sign-screen-inner {
    top: 400px;
  }
  .rectangle-div,
  .rectangle-icon,
  .sign-screen-inner {
    position: absolute;
    left: 33px;
    border-radius: var(--br-mini);
    width: 327px;
  }
  .rectangle-div {
    top: 515px;
    background-color: var(--color-gray-100);
    height: 40px;
  }
  .rectangle-icon {
    top: 662.5px;
    height: 43px;
    cursor: pointer;
  }
  .full-name,
  .your-email {
    left: 33px;
    width: 167px;
    height: 26px;
  }
  .full-name {
    position: absolute;
    top: 254px;
    display: flex;
    align-items: center;
  }
  .your-email {
    top: 369px;
  }
  .create-account1,
  .password,
  .registration,
  .your-email {
    position: absolute;
    display: flex;
    align-items: center;
  }
  .create-account1 {
    top: 671px;
    left: 51px;
    text-align: center;
    justify-content: center;
    width: 292px;
    height: 26px;
  }
  .password,
  .registration {
    top: 64px;
    left: 77px;
    width: 133px;
    height: 24px;
  }
  .password {
    top: 484px;
    left: 33px;
    width: 167px;
    height: 26px;
  }
  .i-agree-to {
    font-weight: 300;
  }
  .i-agree-to-container {
    position: absolute;
    top: 589px;
    left: 71px;
    font-size: 13px;
    display: flex;
    align-items: center;
    width: 288px;
    height: 36px;
  }
  .group-child,
  .group-item {
    position: absolute;
    top: 8.5px;
    left: -0.5px;
    border-top: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 158px;
    height: 1px;
  }
  .group-item {
    left: 181.5px;
    width: 155px;
  }
  .line-parent,
  .or {
    position: absolute;
    top: 0;
    left: 162px;
  }
  .line-parent {
    top: 719px;
    left: 28px;
    width: 336px;
    height: 18px;
    text-align: center;
    font-size: var(--font-size-mini);
  }
  .group-inner {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-mini);
    width: 327px;
    height: 43px;
  }
  .sign-up-with {
    position: absolute;
    top: 7px;
    left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 292px;
    height: 26px;
  }
  .flat-color-iconsgoogle,
  .vector-parent {
    position: absolute;
    top: 4px;
    left: 45px;
    width: 35px;
    height: 36px;
  }
  .vector-parent {
    top: 750px;
    left: 33px;
    width: 327px;
    height: 43px;
    text-align: center;
    font-size: 18px;
    color: var(--color-black);
  }
  .clarityeye-line-icon {
    position: absolute;
    top: 522px;
    left: 313px;
    width: 30px;
    height: 29px;
  }
  .streamlineinterface-arrows-le {
    position: absolute;
    top: 95px;
    left: 47px;
    width: 14px;
    height: 14px;
    overflow: hidden;
  }
  .ionarrow-back-circle-icon {
    position: absolute;
    top: 56px;
    left: 26px;
    width: 43px;
    height: 43px;
    cursor: pointer;
  }
  .mditick-icon {
    position: absolute;
    top: 593px;
    left: 34px;
    width: 26px;
    height: 27px;
    overflow: hidden;
  }
  .ellipse-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 106px;
    height: 106px;
  }
  .screenshot-2023-08-12-143632-r-icon {
    position: absolute;
    top: 8px;
    left: 7px;
    border-radius: 5px;
    width: 91px;
    height: 91px;
    object-fit: cover;
  }
  .vector-group {
    position: absolute;
    top: 80px;
    left: 260px;
    width: 106px;
    height: 106px;
  }
  .sign-screen {
    position: relative;
    background-color: var(--color-black);
    backdrop-filter: blur(60px);
    width: 100%;
    height: 852px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  